{% extends 'store/base.html' %}

{% block content %}
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id product.slug %}">
                    {{ product.name }} - ${{ product.price }}
                </a>
                <form action="{% url 'cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
